/*Wilred v 1.0 fecha: 101118 autor: Jose Javier Soto Torres*/

@media screen and (min-width: 480px){
  body{
    background: #0083DB;
  }
}

@media screen and (min-width: 600px){
  body{
    background: rgb(190, 187, 0);
  }
  
}

@media screen and (min-width: 767px){
  body{
    background: rgb(219, 124, 0);
  }
}

@media screen and (min-width: 950px){
  body{
    background: rgb(161, 4, 201);
  }
}




.grid{
  display: grid;
  justify-content:center;
  align-items: center;
}

#header{
width: auto; 
height: 500px; 
background: url(../imagenes/fondo.jpg);
}

#menu-principal{
  
  opacity: 0.5;
  background: grey;
  margin:0;
  -webkit-filter: blur(0.3px);
  -o-filter: blur(0.3px);
  filter: blur(0.3px);
  
}

#menu-items{
display:grid;
grid-template-columns: repeat(10, 1fr);
grid-gap: 2px;

}

#cintillo-a{

 display:flex;
 background: rgb(162, 19, 120);
 justify-content: center;
 align-items: center;
 height: 15vh;

}

 #menu-secundario{
  display: grid; 
  grid-gap:10px;
  grid-template-columns: repeat(3,130px);
  height: 8vh;
  font-size:12px;
  
 }

 a.color-link-donar{
  color:white;
  
 
 }
 
#btn-apadrinar{
   background: #0083DB;
   border-radius: 4px 4px 4px 4px;
   height: 8vh;
  
 }

#btn-contribuir{
  background: #E9AB00;
  border-radius: 4px 4px 4px 4px;
  height: 8vh;
 
}

#btn-proyectos{
  background: rgb(130, 189, 63);
  border-radius: 4px 4px 4px 4px;
  height: 8vh;
 
}

.seccion-a{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 50vh;
  font-size:14px;
 
}

#box-1{  
  background:rgb(162, 19, 120);
  background: -moz-linear-gradient(left, rgb(162, 19, 120) 6%, rgba(224,224,224,1) 6%);
  background: -webkit-linear-gradient(left, rgb(162, 19, 120) 6%, rgba(224,224,224,1) 6%);
  background: -o-linear-gradient(left, rgb(162, 19, 120) 6%, rgba(224,224,224,1) 6%);
  background: -ms-linear-gradient(left, rgb(162, 19, 120) 6%, rgba(224,224,224,1) 6%);
  background: linear-gradient(to right, rgb(162, 19, 120) 6%, rgba(224,224,224,1) 6%);
  height: 50vh;
  margin-left:20px;
  padding-right: 10px;
  padding-left:40px;
}

#box-2{
  background:rgb(130, 189, 63);
  background: -moz-linear-gradient(left, rgb(130, 189, 63) 6%, rgb(255, 255, 255) 6%);
  background: -webkit-linear-gradient(left, rgb(130, 189, 63) 6%, rgba(224,224,224,1) 6%);
  background: -o-linear-gradient(left, rgb(130, 189, 63) 6%, rgba(224,224,224,1) 6%);
  background: -ms-linear-gradient(left, rgb(130, 189, 63) 6%, rgba(224,224,224,1) 6%);
  background: linear-gradient(to right, rgb(130, 189, 63) 6%, rgba(224,224,224,1) 6%);
  height: 50vh;
  margin-right:20px;
  padding-right: 10px;
  padding-left:40px;
   
}

#cintillo-b{
  background: rgb(162, 19, 120);
  justify-content: center;
  align-items: center;
  height:5vh;
 
 }




